@{
    ViewData["Title"] = "Login";
}
<h2>Iniciar sesi칩n - Admin</h2>
<form method="post" asp-action="Login">
    <div class="mb-2">
        <label>Usuario</label>
        <input name="username" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Contrase침a</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Entrar</button>
</form>
@if(!ViewData.ModelState.IsValid){<div class="text-danger">Usuario o contrase침a inv치lidos</div>} 
